.bg--gris{
background-color: darkgray;
}

.m--top-10{
    margin-top: 10px;
}

.m--top-100{
    margin-top: 100px;
}


hr{
    height:3px !important;
}

.esp--separador{
    margin-top: 1rem;
}

.centro-text{
    display:flex;
    align-items: center;
}

#seccion1{
    margin-top: 150px;
}

@media (min-width: 576px) { 
    #sec1{
        margin-top: 150px;
    }
}

.imgnormalizada--img {
    height: 350px;
    max-height: 500px;
}

.imgperfil--img {
    height: 200px;
    max-height: 300px;
}

h1{
    font-family: 'Aclonica', sans-serif;
    color:rgb(245, 91, 125);
}

.estilo--letra{
    font-family: 'Andada Pro', serif;
    color:rgb(245, 11, 11);
}

table th {
    background-color: rgb(87, 87, 141) !important;
    color : white
}

table>tbody>tr>td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}
